header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 16px;

  a {
    display: flex;
  }

  .favorites-heart-icon {
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 8px;
  }

  @media (min-width: 834px) {
    padding: 16px 48px;
  }
}
